html {
  height: 80%;
  font-size: 100%;
}

body {
  font-family: 'Arial';
  background-color: silver;
  color: black;
  position: absolute;
  left: 300px;
  top: 0px;
}

body.nav {
  border-bottom: red;
}
